
@import "./styles/colors.scss";

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');


* {
  margin: 0;
  padding: 0;
}

html,
body,
#app {
  height: 100vh;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: 'Source Code Pro', monospace;
  color: $font;
  background: $bg-light;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, $bg-dark, $bg-light);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, $bg-dark, $bg-light); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat;
}

h3 {
  font-size: 20px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column,
.flex-row {
  &.center {
    justify-content: center;
    align-items: center;
  }
  &.end {
    justify-content: flex-end;
    align-items: center;
  }
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.main-container {
  height: 100%;
  width: 100%;
} 

.card {
  transition: box-shadow ease-in-out .3s, color ease-in-out .3s;
  position: absolute;
  z-index: 5;
  border-radius: 12px;
  max-width: 350px;
  min-width: 150px;

  color: $white;
  box-shadow: rgba($font, 0.1) 0px 10px 15px -3px, rgba($font, 0.05) 0px 4px 6px -2px;
  background: rgba($white, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  &.neodrag-dragging {
    z-index: 500;
  }

  &.lighter {
    .duration {
      color: $bg-light;
    }
    .header {
      background: $bg-light;
    }
  }

  .header, .duration {
    transition: color ease-in-out .5s, background ease-in-out .5s;
  }

  .header {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    height: 20px;
    background: rgba($bg-dark, 0.5);
  }

  .content {
    margin: 10px 15px;
  }
  
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
  }

  .duration {
    color: rgba($bg-dark, 0.5);
    font-size: 14px;
  }

  .personnal-infos {
    border-radius: 12px;
    width: 100%;
    gap: 10px;
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    
    & > * {
      cursor: pointer;
      height: 35px;
      width: 35px;
      transition: transform ease-in-out .3s;

      &:hover {
        transform: scale(1.2);
      }
    }

    img {
      height: 30px;
      width: 30px;
    }
  }
}

@media screen and (max-width: 750px) {
  .content {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 5px;
    .card {
      margin: 0 10px;
      min-width: calc(100% - 10px) !important;
      position: initial !important;
    }
  }
}